<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YNet Organizer</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
  <div class="upper">
    <button class="btn" onclick="togglePopup('open')" aria-label="Open configuration settings">⚙️</button>
    <button id="toggle-button">Show All Rooms</button>
  </div>

  <!-- Sliding Window Popup -->
  <div id="popup-window" class="popup-window hidden" aria-hidden="true">
    <div class="popup-overlay" onclick="togglePopup('close')"></div>
    <div class="popup-content">
      <h2>Configuration</h2>

      <form>
        <input type="checkbox" id="roomsOnStartup" name="roomsOnStartup" <%= settings.roomsOnStartup ? 'checked' : '' %>>
        <label for="roomsOnStartup"> Show All Rooms on Startup</label>
      </form>

      <button onclick="saveToServer()">Save Settings</button>
      <button onclick="togglePopup('close')">Close</button>
    </div>
  </div>

  <ul>
    <% rooms.forEach((room, index) => { %>
    <div class="room-container" id="room-<%= index %>">
      <div class="room-title">
        <h2><span class="room-title-prefix"><%= index + 1 %>.</span> <%= room.name %></h2>
        <div class="room-actions">
          <p>
            Players:
            <% if (room.players && room.players.length > 0) { %>
            <span class="player-count">
              <%= room.players.length %>/<%= room.maxPlayers %>
            </span>
            <% } else { %>
            <span class="no-players">
              0/<%= room.maxPlayers %>
            </span>
            <% } %>
          </p>
          <button class="room-toggle" onclick="toggleRoomContent('room-<%= index %>')" aria-label="Toggle room details">Show Room</button>
        </div>
      </div>
      <div class="room-content hidden">
        <p><strong>Address:</strong> <%= room.address %></p>
        <p><strong>Port:</strong> <%= room.port %></p>
        <p><strong>Description:</strong> <%= room.description %></p>

        <% if (room.players && room.players.length > 0) { %>
        <p><strong>Players:</strong></p>
        <ol class="player-list">
          <% room.players.forEach((player) => { %>
          <li>
            <%= player.nickname || "Unknown Player" %>
            <span>(<%= player.gameName %>)</span>
          </li>
          <% }); %>
        </ol>
        <% } %>

        <p><strong>Password-protected:</strong> <%= room.hasPassword ? 'Yes' : 'No' %></p>
      </div>
    </div>
    <% }); %>
  </ul>
  <script>
    window.appSettings = <%- JSON.stringify(settings) %>;
  </script>
  <script src="/js/interact.js"></script>
</body>

</html>